@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 252, 231, 243;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 252, 231, 243;

  }
}

body {
  background: var(--background-color);
} */
